## Question 1

In [1]:
import pandas as pd
series=pd.Series([4,8,15,16,23,42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Question 2

In [2]:
import pandas as pd
data=[i for i in range(1,11)]
range_series=pd.Series(data)
print(range_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## Question 3

In [3]:
import pandas as pd
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Question 4

A dataframe is a two-dimensional, tabular data structure which is similar to  a spreadsheet or SQL table, where the data is organized into rows and columns. Each column in a dataframe is a pandas Series. A dataframe can be created using the pandas.DataFrame() constructor. 


On the other hand a pandas Series is essentially a one-dimensional array that can hold any data type. It is labeled, meaning each item in the series can have an index label. We can think of seroes as a column in a spreadsheet or a column in a table. It is created using the pd.Series() constructor.

In [4]:
## Series in pandas

import pandas as pd

data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
## dataframes in pandas 
data={'col1':[4,8,15,16,23,42]}
df=pd.DataFrame(data)
print(df)

   col1
0     4
1     8
2    15
3    16
4    23
5    42

## Question 5

Pandas provides a rich set of functions to manipulate and analyze data in DataFrames.

1. selection or indexing:

df['column_name'] or df.column can be used for selection of a column from our dataframe. For selecting multiple columns we can pass them in the list. df.loc or df.iloc are used for row indexing. 

2. Sorting

we can sort the dataframe by values in a specified column df.sort_values('column_name'), df.sort_index() sorts DataFrame by index.

3. Grouping and aggregation

df.groupby('col').mean() Groups by the specified col name and then computes its mean. 

4. Joining and Merging

pd.concat([df1,df2],axis=0 or 1) if the value of axis is kept 0 then the dataframes are concatenated vertically else horizontally. 

pd.merge(df1,df2,on='column') Merge the dataframes on common column


5. Handling missing data

df.isnull() or df.isna() is used to check for null values. df.dropna() removes the rows with missing values on the other hand df.fillna(value) is used to fill the missing values with a specified value.

6. Applying functions
df.apply(func) is used to apply a function to each element or row/column\

df.applymap(func) is used to apply a func to every element 



7. Statistics and summary

df.describe() Generates descreptive statistics 

df.corr() computes the paiwise correlation of the columns 

df.value_counts() it cunts the unique values in a column.

## Question 6

In Pandas, Series and DataFrame are mutable, meaning you can modify their contents after creation. Panel is considered deprecated in recent versions of Pandas, and it's recommended to use MultiIndex DataFrames or Panel-like structures using the pd.Panel class.

You can modify the values in a Series after it's created. For example, you can change the value of a specific element or update the entire Series with new values.
DataFrames are mutable as well. You can add, remove, or modify columns, and you can also update the values in specific cells.

## Question 7

In [6]:
import pandas as pd

## lets first create multiple series
series1=pd.Series([1,2,3])
series2=pd.Series(['A','B','C'])
series3=pd.Series([10.5,20.5,30.5])

## creating a dataframe with multiple series

my_df=pd.DataFrame({'column1':series1,'column2':series2,'column3':series3})

print(my_df)

   column1 column2  column3
0        1       A     10.5
1        2       B     20.5
2        3       C     30.5