## Question 1

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.iloc[1:2,:]

        course_name  duration
1  Machine Learning         3

## Question 2

In a Pandas DataFrame, both loc and iloc are used for indexing and selecting data, but they have some key differences in terms of how they specify and interpret the indices.


1. 'loc' (label-based indexing):
loc is primarily label-based indexing, which means that you use the actual row and column labels to index into the DataFrame. It is inclusive of both the start and stop indices, similar to slicing in Python. The syntax is df.loc[row_indexer, column_indexer], where row_indexer and column_indexer can be labels or boolean arrays.




2. 'iloc' (integer based indexing):
iloc is integer-location based indexing, which means that you use integer indices to index into the DataFrame. It is exclusive of the stop index, similar to Python standard slicing. The syntax is df.iloc[row_indexer, column_indexer], where row_indexer and column_indexer are integer indices or boolean arrays.

## Question 3

In [2]:
reindex_order = [3,0,1,2]
new_df=df.reindex(reindex_order)
print("loc result :\n ",new_df.loc[2])

print("\niloc result :\n ",new_df.iloc[2])

loc result :
  course_name    Big Data
duration              6
Name: 2, dtype: object

iloc result :
  course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The loc function is inclusive of the higher limit therefore it gives the row values that are present at the second index. The iloc on the other hand is'nt inclusive of the higher limit and gives us the data present in the row before.

## Question 4

In [3]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

for column in df1.columns:
    print(f"mean of {column} is {df1[column].mean()}")
    
print("\n standard deviation of column 2 is :",df1['column_2'].std())

mean of column_1 is 0.38792596376102334
mean of column_2 is 0.6164745629238838
mean of column_3 is 0.5480323834904904
mean of column_4 is 0.5211863299140584
mean of column_5 is 0.5278076323469649
mean of column_6 is 0.46213797014225316

 standard deviation of column 2 is : 0.321817259972617

## Question 5

In [4]:
## replacing data present in the 2nd column 
replacement_string='Replacement'
df1.loc[2,'column_2']=replacement_string
df1.head()

   column_1     column_2  column_3  column_4  column_5  column_6
1  0.356604     0.567219  0.639221  0.867860  0.690918  0.052902
2  0.924803  Replacement  0.714596  0.414128  0.847265  0.485718
3  0.233201     0.161226  0.243226  0.179968  0.661614  0.273929
4  0.087101     0.884417  0.716739  0.265468  0.786393  0.808766
5  0.564596     0.842072  0.622872  0.427528  0.120392  0.929520

In [5]:
print(df1['column_2'].mean())

TypeError: unsupported operand type(s) for +: 'float' and 'str'

we encounter this error because the data point present in the row is not a float or integer value and therefore the mean cannot be calculated.

## Question 6

In Pandas, window functions are operations that perform calculations on a specified subset of data defined by a window of consecutive rows. These functions are particularly useful for time series data and can be applied to rolling or expanding windows. The core idea is to perform aggregate or transformation operations over a moving window of data. These functions operate on a fixed-size window of data that "rolls" along the time series.
Common rolling window functions include:
1. rolling().mean() : calculates rolling mean
2. rolling().sum() : Calculates rolling sum
3. rolling().min() and rolling().max() : Calculates the rolling minimum and maximum
4. rolling().std() : Calculates the rolling standard deviation
5. rolling().apply() : Applies a custom function to the rolling window

## Question 7

In [6]:
import pandas as pd
current_datetime=pd.to_datetime('now')
current_month=current_datetime.month
current_year=current_datetime.year

print(f"Current Month is {current_month} and current year is {current_year}")

Current Month is 12 and current year is 2023

C:\Users\HP\AppData\Local\Temp\ipykernel_11636\3906659472.py:2: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_datetime=pd.to_datetime('now')

## Question 8

In [7]:
import pandas as pd
start_date=pd.to_datetime(input("enter start date in YYYY-MM-DD format"))
end_date=pd.to_datetime(input("enter end date in YYYY-MM-DD format"))
time_diff=end_date-start_date
days=time_diff.days
hours,remainder=divmod(time_diff.seconds,3600)
minutes,_=divmod(remainder,60)
print(f"\nTime Difference:")
print(f"Days: {days} days")
print(f"Hours: {hours} hours")
print(f"Minutes: {minutes} minutes")

enter start date in YYYY-MM-DD format2023-05-17
enter end date in YYYY-MM-DD format2023-12-12

Time Difference:
Days: 209 days
Hours: 0 hours
Minutes: 0 minutes

## Question 9

In [8]:
import pandas as pd
def main():
    
    file_path=input("Enter the path of your csv file")
    df=pd.read_csv(file_path)
    column_name=input("\nEnter the column to be converted to categorical type")
    if column_name not in df.columns:
        print("Error the column entered not found in DataFrame")
        return
    

    cateory_order=input("\nEnter the category order (comma seperated)")
    category_order=[cat.strip() for cat in cateory_order.split(',')]

    convert_to_categorical(df,column_name,category_order)
    sorted_df=df.sort_values(by=[column_name])
    print("\nDataFrame after conversion and sorting: ")
    print(sorted_df)



def convert_to_categorical(df,column_name,cateory_order):
    df[column_name]=pd.Categorical(df[column_name],categories=category_order,ordered=True)

## Question 10

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
def main():
    file_path=input("enter the CSV file path")
    visualize_data(file_path)

    
def visualize_data(file_path):
    df=pd.read_csv(file_path)
    
    df['Date']=pd.to_datetime(df['Date'])
    pivot_df=df.pivot_table(index='Date',columns='Product category',values='Sales',aggfunc='sum')
    pivot_df.plot(kind='bar',stacked=True,figsize=(10,6))
    plt.xlabel('date')
    plt.ylabel('Sales')
    plt.title('Stacked bar chart')
    plt.legend()
    plt.show()

## Question 11

In [10]:
from tabulate import tabulate
import pandas as pd

def calculate_stats(file_path):
    df=pd.read_csv(file_path)
    mean_score=df['Test Score'].mean()
    median_score=df['Test Score'].median()
    mode_score=df['Test Score'].mode()
    
    table =tabulate([
        ['Mean',mean_score],
        ['Median',median_score],
        ['Mode',', '.join(map(str,mode_score))]],
        headers=['Statistics','Value'],
        tablefmt='grid'
    )
    print(table)
    
def main():
    file_path=input("enter the path of the CSV file")
    calculate_stats(file_path)